<div class="container">
  <div class="row my-3">
    <div class="col-md-4 offset-md-8">
      <input type="text" class="form-control" [(ngModel)]="this.qInput" (keyup)="this.handleKeySeachCategory()">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th class="w-25">No.</th>
            <th class="w-75">Ctegory</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.categoryResult; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>